@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Assistant:wght@300&display=swap');

body {
    width: 936px;
    margin: 0 auto;
}

h1 {
    color: blue;
    font-family: 'Abril Fatface', cursive;
}

p {
    font-size: 14px;
    font-family: 'Assistant', sans-serif;
}

a {
    font-size: 16px;
    font-weight: bold;
    color: darkgreen;
}

a:hover {
    color: blue;
}

a:visited {
    color: blueviolet;
}

header {
    background-color: lightgray;
    padding: 15px 0 25px 0;
}

hgroup#principal {
    width: 936px;
    text-align: center;
    margin: 40px;
}

hgroup#principal{

}

hgroup#principal h2{
    margin-top: -20px;
    font-size: 20px;
}

section {
    display: inline-block;
    background-color: gainsboro;
    padding: 40px 0;
}

article {
    width: 425px;
    float: left;
    margin-left: 40px;
}

article h1{
    font-size: 25px;
}

article p{
    line-height: 25px;
}

footer{
    background-color: darkblue;
    color: white;
    padding: 20px;
    margin-top: -4px;
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a::before{
    /* Alt + 0187*/
    content: ">> ";
    color: red;
}

footer a:visited {
    color: white;
}

.full-screen {
    width: 896px;
    text-align:center;
}

div#principal {
    width: 936px;
    text-align: center
}

figure#foto-piramide{
    margin: 0;
}

figure#foto-piramide img{
    width: 425px;
}

/* menu */
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    margin-left: 60px;
    text-align: center;
}

nav#menu li{
    display: inline-block;
    background-color:aquamarine;
    padding: 15px 45px;
    margin: -2px;
}

nav#menu li:hover{
    background-color: burlywood;
}

nav#menu a{
    text-decoration: none;
    font-size: 16px;
}

nav#menu a:hover{
    color: white !important;
}

nav#menu a:visited{
    color: darkgreen;
}

nav#menu img{
    width: 48px;
    float: left;
    position: absolute;
    top: 29px;
    margin-left: 25px;
}

nav#menu li.ativo a {
    color: blueviolet;
}

/* form contato.html */
#container {
    max-height: 400px;
    width: 100%;
    margin:0 auto;
}

#formContato {
    background: #F9F9F9;
    padding: 25px 45px 25px 25px;
    margin: 50px 0;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
}

#formContato input[type="text"],
#formContato input[type="email"]{
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#formContato button[type="submit"]{
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#formContato button[type="submit"]:hover {
    background: #43A047;
    transition: background-color 0.3s ease-in-out;
}

#formContato iput:focus{
    outline: 0;
    border: 1px solid #aaa;
}

#formContato fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
